<span class="authors-list">
  {{#each authors}}
  {{!-- separator --}}
  {{#if @index}}<span class="authors-list-separator">,&nbsp;</span>{{/if}}
  {{!-- items --}}
  <span>
    {{#if this.orcid}}<a href="/users/view/{{this.orcid}}">{{this.name}}</a>
    {{else}}{{this.name}}
    {{/if}}
  </span>
  {{/each}}
</span>