<span class="authors-list">
  <span class="authors-list-items">
    {{#each authors}}
      {{#if @index}}
        <span class="authors-list-item-separator">,&nbsp;</span>
      {{/if}}
        <span class="authors-list-item">
          {{#if this.orcid}}
            <a href="/users/view/{{this.orcid}}">{{this.name}}</a>
          {{else}}
            {{this.name}}
          {{/if}}
        </span>
    {{/each}}
  </span>
</span>
