<footer class="hidden-print">

  <div class="row">
    <div class="col-sm-2 col-xs-6">
      <ul class="list list-unstyled">
        <li><a href="/">Octopus home</a></li>
        <!-- <li><a href="/publications/search">Explore publications</a></li> -->
        <!-- <li><a href="/publish">Publish your work</a></li> -->
      </ul>
    </div>

    <div class="col-sm-2 col-xs-6">
      <ul class="list list-unstyled">
        <li><a href="/about">Learn more</a></li>
        <!-- <li><a href="/faq">FAQ</a></li> -->
      </ul>
    </div>

    <div class="col-sm-2 col-xs-6">
      <ul class="list list-unstyled">
        <li><a href="/feedback">Feedback</a></li>
        <li><a href="https://github.com/ScienceOctopus" target="_blank">Source code</a></li>
      </ul>
    </div>

    <div class="col-sm-6">
      <div class="text-center pull-right">
        <strong>With support from</strong>
        <br />
        <img src="/public/images/logos/elife.svg" height="60"/>
        <img src="/public/images/logos/mozillaScienceLab.svg" height="35"/>
      </div>

      <div class="text-center pull-right" style="margin-right: 30px;">
        <strong>In partnership with</strong>
        <br />
        <img src="/public/images/logos/ukrn.png" height="60"/>
      </div>
  </div>

</footer>

<div id="printFooter" class="visible-print">
  <span>This page has been printed from https://app.science-octopus.org{{url}}</span>
</div>


</body>
</html>
