<footer>

  <div class="row">
    <div class="col-sm-2 col-xs-6">
      <ul>
        <li><a href="/">Start</a></li>
        <li><a href="/publications/search">All publications</a></li>
        <li><a href="/publications/publish">Publish your work</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>

    <div class="col-sm-2 col-xs-6">
      <ul>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/feedback">Feedback</a></li>
        <li><a href="https://github.com/ScienceOctopus" target="_blank">Source code</a></li>
      </ul>
    </div>

    <div class="col-sm-8">
      <div class="text-center pull-right">
        <strong>With support from</strong>
        <br />
        <img src="/public/images/logos/elife.svg" height="60"/>
        <img src="/public/images/logos/mozillaScienceLab.svg" height="35"/>
      </div>

      <div class="text-center pull-right" style="margin-right: 30px;">
        <strong>In partnership with</strong>
        <br />
        <img src="/public/images/logos/ukrn.png" height="60"/>
      </div>
  </div>

  <div class="hide">
    <strong>DEBUG</strong>
    <pre>username: {{json username}}</pre>
    <pre>url: {{json url}}</pre>
  </div>
</footer>

</body>
</html>
