<footer class="hidden-print">

  <div class="row">
    <div class="col-sm-2">
      <ul class="list list-unstyled">
        <li><a href="/">Octopus home</a></li>
        <!-- <li><a href="/publications/search">Explore publications</a></li> -->
        <!-- <li><a href="/publish">Publish your work</a></li> -->
      </ul>
    </div>

    <div class="col-sm-2">
      <ul class="list list-unstyled">
        <li><a href="/about">Learn more</a></li>
      </ul>
    </div>

    <div class="col-sm-2">
      <ul class="list list-unstyled">
        <li><a href="https://github.com/ScienceOctopus" target="_blank">Source code</a></li>
        <li><a class="typeform-share link" href="https://octopus848612.typeform.com/to/iXUKqY" data-mode="popup" data-submit-close-delay="2" target="_blank">Feedback</a></li>
      </ul>
    </div>

    <div class="col-sm-6 logos">
      <div class="text-center pull-right">
        <strong>With support from</strong>
        <br />
        <img src="/public/images/logos/elife.svg" height="60"/>
        <img src="/public/images/logos/mozillaScienceLab.svg" height="35"/>
      </div>

      <div class="text-center pull-right">
        <strong>In partnership with</strong>
        <br />
        <img src="/public/images/logos/ukrn.png" height="60"/>
      </div>
  </div>

</footer>

<div id="printFooter" class="visible-print">
  <span>This page has been printed from https://app.science-octopus.org{{url}}</span>
</div>

<script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>

</body>
</html>
