<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>
    {{#if publication}}
     Publication: {{publication.title}} - Octopus
    {{else}}
      {{#if problem}}
      Problem: {{problem.title}} - Octopus
      {{else}}
       Octopus. Built for Scientists.
     {{/if}}
   {{/if}}
  </title>
  <link href="/public/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/public/css/app.css" rel="stylesheet" type="text/css">

  <script src="/public/js/jquery.min.js"></script>
  <script src="/public/js/bootstrap.min.js"></script>
  <script src="/public/js/main.js"></script>

  <link href="/public/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  <link rel="icon" type="image/png" href="/public/favicon.ico">
</head>

<body>

<div id="headerSpacer"></div>
