<div class="modal fade" tabindex="-1" role="dialog" id="publishingInfoModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">How does Octopus publishing work?</h4>
      </div>
      <div class="modal-body">
        <ul>
          <li>Octopus accepts <a href="/about">8 types of publications</a>.</li>
          <li>Problems are the top of the publication chain.</li>
          <li>Every new publication must be linked to an existing one of a previous type.</li>
          <li>Reviews can be linked to any other kind of publication.</li>
          <li>You should upload your publication in pdf, doc or docx format.</li>
          <li>There are no rules on style and layout, but healthcare researchers should be guided by the relevant <a href="https://www.equator-network.org/" target="_blank">EQUATOR reporting guidelines</a>.</li>
          <li>You no longer need to structure your publications like a paper with an abstract and introduction. The publications above yours in the chain should serve this role.</li>
          <li>References should no longer be listed at the bottom, but instead should be live URL links within the text to DOIs.</li>
          <li>Publications will go live as soon as all authors have agreed to publication (there is a confirmation step before changing your publication's status from "draft" to "published").</li>
        </ul>

      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
