<div class="modal fade" tabindex="-1" role="dialog" id="publishingInfoModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">How does Octopus publishing work?</h4>
      </div>
      <div class="modal-body">
        <ul class="publishingInfoList">
          <li>You no longer need to structure your publications like a paper – publications in Octopus are smaller, allowing you to publish faster and with fewer collaborators.</li>
          <li>Octopus accepts 8 types of publications: Problems – Hypotheses/Theories – Protocol/Method - Data/Findings – Analyses – Interpretation – Real World Applications – and Peer Reviews.</li>
          <li>Every new publication must be linked to an existing one.</li>
          <li>Reviews and Problems can be linked to any other kind of publication, but all the others must be linked to a publication of the type ‘above them’ in the chain.</li>
          <li>There are no rules on style and layout, but healthcare researchers should be guided by the relevant <a href="https://www.equator-network.org/" target="_blank">EQUATOR reporting guidelines</a>.</li>
          <li>You can upload your publication in pdf, doc or docx format, and then use our online editor to check the layout is how you want it.</li>
          <li>References should no longer be listed at the bottom, but instead should be live URL links within the text to DOIs.</li>
          <li>Publications will go live as soon as all authors have agreed to publication (there is a confirmation step before changing your publication's status from "draft" to "published").</li>
          <li>They will also immediately become visible on your personal page.</li>
          <li>Other readers can review and rate your publication as soon as it is live. If you wish to reversion your publication you can – but the old versions will always be available.</li>
        </ul>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
