<div class="modal fade redFlagPublicationModal" tabindex="-1" role="dialog" id="redFlagPublicationModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Red Flag {{publicationTitle}} ?</h4>
      </div>

      <div class="modal-body">
        <form method="POST" action="/red-flag-publication/{{publication._id}}">
          <label for="redFlagPublicationCategory">Category</label>

          <select required id="redFlagPublicationCategory" name="reason" class="form-control selectpicker">
            <option value="Potential plagiarism" title="Potential plagiarism"> Potential plagiarism </option>
            <option value="Potential ethical issues" title="Potential ethical issues"> Potential ethical issues </option>
            <option value="Potential inappropriate use of statistics" title="Potential inappropriate use of statistics"> Potential inappropriate use of statistics </option>
            <option value="Potential misrepresentation of findings" title="Potential misrepresentation of findings"> Potential misrepresentation of findings </option>
            <option value="Potential image manipulation" title="Potential image manipulation"> Potential image manipulation </option>
            <option value="Potential inappropriate data manipulation/fabrication" title="Potential inappropriate data manipulation/fabrication"> Potential inappropriate data manipulation/fabrication </option>
            <option value="Potential copyright issues" title="Potential copyright issues"> Potential copyright issues </option>
            <option value="Potential inappropriate or unlawful content" title="Potential inappropriate or unlawful content"> Potential inappropriate or unlawful content </option>
          </select>

          <br /><br />

          <label for="redFlagPublicationDescription">Description</label>
          <textarea required id="redFlagPublicationDescription" class="form-control" name="description" placeholder="Write a comment explaining the issue. Max characters 200" maxlength="100"></textarea>

          <div class="alert alert-danger mt-3 mb-3">This flagging will become public and the publication author will be emailed with your message.</div>

          <div class="buttonsContainer">
            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">Cancel</button>
            <button type="submit" class="btn btn-sm btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- EDIT MODE ENABLED -->
<link type="text/css" rel="stylesheet" href="/public/vendor/jodit-3.2.46/jodit.min.css">
<script type="text/javascript" src="/public/vendor/jodit-3.2.46/jodit.min.js"></script>

<script>
  var editor = new Jodit('#redFlagPublicationDescription', {
    height: 250,
  });
</script>
