<div class="modal fade" tabindex="-1" role="dialog" id="redFlagHistoryModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">
          View red flag history for "{{publicationTitle}}"</h4>
      </div>
      <div class="modal-body">
        <ol class="modal-body">
          {{#each redFlags}}
            <li>
              <p>
                <strong>Reason: </strong>
                {{this.reason}}
              </p>
              <p>
                <strong>Status: </strong>
                {{this.status}}
              </p>
              <p>
                <strong>Date Created: </strong>
                {{formatDate this.dateCreated}}
              </p>
            </li>
            <hr />
          {{/each}}
        </ol>
      </div>
    </div>
  </div>
</div>