{{> header}}

<div class="container-fluid text-center" role="main">
  <h1>Publish your work with Octopus</h1>
</div>

<div class="container-fluid text-center" role="main">
  <p>Publishing with Octopus is easy.</p>

  <p>Click the button below and we'll walk you through our 5 step process.</p>

  <br /><br />

  <a class="btn btn-lg btn-primary" href="/publish/step/1">
    Publish your work with Octopus
  </a>
</div>

{{> navTop}}

{{> footer}}
