{{> header}}

<div class="container" role="main">
  <h1>Publish your work</h1>

  <br /><br />

  <p>Publishing is easy with Octopus.</p>

  <p>We'll walk you through our 3 step upload process.</p>

  <p>
    <a href="#" data-toggle="modal" data-target="#publishingInfoModal">
      How does this process work?
    </a>
  </p>

  <br /><br />

  {{#if user}}
    <form method="POST" action="/publish/step/1">
      <button type="submit" class="btn btn-md btn-primary">Publish your work with Octopus</button>
    </form>
  {{else}}
    You have to log in via ORCiD before proceeding.
    <br />
    <a href="/auth/orcid/login?returnPath=/publish" class="btn btn-md btn-primary">Log in via ORCiD<a/>
  {{/if}}


</div>

{{> publishingInfoModal}}

{{> navTop}}

{{> footer}}
