{{> header}}

<div class="alert alert-warning">This is a draft. You need to publish it before it's visible to others.</div>

{{> publications/chain}}

<hr class="octopus-separator" />

{{> publications/body/edit}}

{{> navTop}}

{{> footer}}
