{{> header}}

<div class="container-fluid jumbotron jumbotron-homepage">

  <div class="container-fluid">
    <h1>Octopus.<wbr> The primary research record.</h1>
    <h2>A new way to publish your scientific work that's fast, free and fair.</h2>

    <br />

    <div class="row">
      <div class="col-md-8">
        <p>Designed to replace journals and papers as the place to establish priority and record your work in full detail, Octopus is free to use and publishes all kinds of scientific work, whether it is a hypothesis, a method, data, an analysis or a peer review.</p>
        <p>Publication is instant. Peer review happens openly. All work can be reviewed and rated. Your personal page records everything you do and how it is rated by your peers.</p>
        <p>Octopus encourages meritocracy, collaboration and a fast and effective scientific process.</p>
        <h2>Created in partnership with the UK Reproducibility Network.</h2>
      </div>
      <div class="col-md-4">
        <img src="/public/images/screenshots/New_ReadPublication.png" class="screenshot" />
      </div>
    </div>

    <br />
    <hr />
    <br />

    <div class="row" style="max-width:1200px; margin: 0 auto">
      <div class="col-sm-4 text-center">
        <a class="btn btn-octopus" href="/publications/search"><i class="fa fa-fw fa-search"></i><br />Explore publications</a>
      </div>
      <div class="col-sm-4 text-center">
        <a class="btn btn-octopus" href="/publish"><i class="fa fa-fw fa-pencil"></i><br />Publish your work</a>
      </div>
      <div class="col-sm-4 text-center">
        <a class="btn btn-octopus" href="/about"><i class="fa fa-fw fa-exclamation"></i><br />Learn more</a>
      </div>
      <!-- <div class="col-sm-3 text-center">
        <a class="btn btn-octopus" href="/faq"><i class="fa fa-fw fa-question"></i><br />FAQ</a>
      </div> -->
    </div>

  </div>
</div>


<div class="container-fluid" id="mainBody">
  <div>

    <h2>Why publish in Octopus?</h2>

    <p>Establish priority on your ideas and your work instantly. You can publish a paper later.</p>
    <p>Publish work that you cannot publish elsewhere: hypotheses, small data sets, methods, peer reviews. Get credit for it, and let the scientific community benefit.</p>
    <p>No need to write a whole 'paper'. You only need to write up what is new: Octopus is fast and efficient.</p>
    <p>Everything you do within Octopus - and how it is recevied by your peers - will appear on your public profile page, for funders, institutions and other researchers to see.</p>

    <br /><hr /><br />

    <h2>How to publish in Octopus?</h2>

    <p>Use your ORCiD to log in (free and easy to create if you don't have one).</p>
    <p>Select a publication to link yours to. Every publication in Octopus is linked to another to form chains of work</p>
    <p>Upload your work in Word or pdf. Octopus does not publish 'papers': publish your work in smaller units, linked to each other.</p>
    <p>Select your coauthors.</p>
    <p>Review your publication and click 'Publish'. An email will be sent to each author. As soon as each as approved the publication, your publication will become live and open for reviews and ratings.</p>
    <p>It's as simple as that. No formatting. No desk rejection.</p>

    <br /><hr /><br />

    <h2>What about peer review and quality control?</h2>

    <p>Octopus puts authors in control of what they publish. There are no gatekeepers to the research record. But anyone logged into Octopus can rate publications, review them or red flag them if they have serious concerns.</p>
    <p>Readers can see how many people, and who, have rated a publication and use these as cues of quality. They can also read reviews. This open peer review process allows a much more transparent scrutiny and evaluation of work than the current system.</p>
    <p>Reviews are treated as an original publication in their own right and can also be rated. This incentivizes insightful, collaborative critiquing.</p>

    <br /><hr /><br />

  </div>

</div>

{{> navTop}}

{{> footer}}
