{{> header}}

<div class="container-fluid" id="mainBody">

<div class="homepageJumbotron">
  <img src="/public/images/homepageGraph.png" class="homepageGraph" />

  <h1>Octopus. Built for scientists.</h1>
  <h2>A new way to publish your scientific ideas, findings and research.</h2>

  <p>Designed to replace journals and papers, Octopus is free to use and it gets your work published much more quickly and to a wider audience.</p>
  <p>This ensures you get maximum credit for the work you do, whether that's coming up with hypotheses, designing protocols, collecting data, doing analyses or writing reviews.</p>

  <br /><br />
  <a class="btn btn-lg btn-success" href="/publications/search"><i class="fa fa-fw fa-search"></i> Explore publications</a>
  <br /><br />
  <a class="btn btn-lg btn-success" href="/publish"><i class="fa fa-fw fa-pencil"></i> Publish your work</a>
  <br /><br />
  <a class="btn btn-lg btn-primary" href="/about"><i class="fa fa-fw fa-exclamation"></i> Learn more</a>
  <br /><br />
  <a class="btn btn-lg btn-warning" href="/faq"><i class="fa fa-fw fa-question"></i> FAQ</a>

</div>

</div>

{{> navTop}}

{{> footer}}
