{{> header}}

<div class="container-fluid" id="mainBody">

<div class="homepageJumbotron">
  <!-- <img src="/public/images/homepageGraph.png" class="homepageGraph" /> -->
  <img src="/public/images/screenshots/ReadPublication.png" class="homepageGraph" />

  <h1>Octopus. Built for scientists.</h1>
  <h2>A new way to publish your scientific ideas, findings and research.</h2>

  <p>Designed to replace journals and papers, Octopus is free to use and it gets your work published much more quickly and to a wider audience.</p>
  <p>This ensures you get maximum credit for the work you do, whether that's coming up with hypotheses, designing protocols, collecting data, doing analyses or writing reviews.</p>

  <br /><br />

  <a class="btn btn-octopus" href="/publications/search"><i class="fa fa-fw fa-search"></i><br />Explore publications</a>

  <a class="btn btn-octopus" href="/publish"><i class="fa fa-fw fa-pencil"></i><br />Publish your work</a>

  <a class="btn btn-octopus" href="/about"><i class="fa fa-fw fa-exclamation"></i><br />Learn more</a>

  <a class="btn btn-octopus" href="/faq"><i class="fa fa-fw fa-question"></i><br />FAQ</a>

</div>

</div>

{{> navTop}}

{{> footer}}
