{{> header}}

<div class="container-fluid" id="mainBody">

<div class="homepageJumbotron">
  <img src="/public/images/homepageGraph.png" class="homepageGraph" />

  <h1>Octopus. The primary research record.</h1>
  <h2>A new way to publish your scientific work that's fast, free and fair.</h2>

  <p>Designed to replace journals and papers as the place to establish priority and record your work in full detail, Octopus is free to use and publishes all kinds of scientific work, whether it is a hypothesis, a method, data, an analysis or a peer review.</p>
  <p>Publication is instant. Peer review happens openly. All work can be reviewed and rated. Your personal page records everything you do and how it is rated by your peers.</p>
  <p>Octopus encourages meritocracy, collaboration and a fast & effective scientific process.

  <br /><br />
  <a class="btn btn-lg btn-success" href="/publications/search"><i class="fa fa-fw fa-search"></i> Explore publications</a>
  <br /><br />
  <a class="btn btn-lg btn-success" href="/publish"><i class="fa fa-fw fa-pencil"></i> Publish your work</a>
  <br /><br />
  <a class="btn btn-lg btn-primary" href="/about"><i class="fa fa-fw fa-exclamation"></i> Learn more</a>
  <br /><br />
  <a class="btn btn-lg btn-warning" href="/faq"><i class="fa fa-fw fa-question"></i> FAQ</a>

</div>

</div>

{{> navTop}}

{{> footer}}
