{{> header}}

<div class="container" role="main">
  <h1>
    <span class="small">Step 3 of 4</span>
    <br />
    Upload or write publication
  </h1>

  <br/>

  {{log publication}}

  <form method="POST" action="/publish/step/3" enctype="multipart/form-data">
    {{> publishingStepsData publication }}

    <div class="form-group">
      <label for="publicationFile">You can upload your publication in pdf, doc or docx format, or enter the content of your publication in the editor.</label>

      <p>If you upload a publication you will be able to edit it before submission.</p>

      <br />

      <input id="publicationFile" name="publicationFile" type="file" value="{{publication.publicationFile}}" onchange="form.submit()"/>
    </div>
  </form>

  <form method="POST" action="/publish/step/4">
    {{> publishingStepsData publication }}

    <h2>Publication Text</h2>

    <textarea id="publicationText" name="publicationText">{{{publication.text}}}</textarea>

    <br/>
    <button type="submit" class="btn btn-md btn-primary">View draft</button>
  </form>
</div>

{{> publishingInfoModal}}

{{> navTop}}

{{> footer}}

<!-- EDIT MODE ENABLED -->
<link type="text/css" rel="stylesheet" href="/public/vendor/jodit-3.2.46/jodit.min.css">
<script type="text/javascript" src="/public/vendor/jodit-3.2.46/jodit.min.js"></script>

<script>
  var editor = new Jodit('#publicationText', {
    height: 350,
  });
</script>