{{> header}}

<div class="container-fluid" role="main">
  <h1>Publish your work</h1>

  <p>Step 3 of 3</p>

  <form method="POST" action="/publish/save">
    <h2>Upload publication file</h2>

    <p>You should upload your publication in pdf, doc or docx format.</p>

    <p>This step is optional - you can simply enter the content of your publication
      in the next step where you will also have a chance to edit the imported file
      before publishing.</p>

    <button type="submit" class="btn btn-md btn-primary">Save and proceed</button>
  </form>
</div>

{{> publishingInfoModal}}

{{> navTop}}

{{> footer}}
