{{> header}}

<div class="container" role="main">
  <h1>
    <span class="small">Step 4 of 4</span>
    <br />
    Check and submit publication
  </h2>

  <br/>

  <p>Please view your publication below.</p>
  <p>You can either submit for publication or re-edit.</p>
  <p>Submitting will email your co-authors for authorisation/As the sole author, submitting will mean this publication is immediately live/You are the last co-author to check the publication, so clicking submit will mean this publication is immediately live</p>

  <br/>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>{{publication.title}} <small>DRAFT</small></h4>
    </div>
    <div class="panel-body scroll">{{publication.text}}</div>
  </div>

  <br/>

  <form method="POST" action="/publish/step/3" class="inline-flex">
    {{> publishingStepsData publication }}
    <button type="submit" class="btn btn-default">Edit</button></a>
  </form>

  <form method="POST" action="/publish/save" class="inline-flex">
    {{> publishingStepsData publication }}
    <button type="submit" class="btn btn-primary">Submit</button></a>
  </form>
</div>

{{> publishingInfoModal}}

{{> navTop}}

{{> footer}}
