{{> header}}

<div class="container-fluid" id="mainBody" role="main">
  <div class="row">
    <div class="col-sm-9">

      <h1 class="plainBodyText">
        <strong>Showing user {{user.id}}.
      </h1>

      <br />

      <h2>{{user.displayName}}</h2>

    </div>

    <div class="col-sm-3" id="sidebar">
      ...
    </div>

  </div>
</div>

{{> navTop}}

{{> footer}}
